@model Shop.Models.Item



<div class="container">
    <div class="col-md-12 table_spacing">
        <h2>@ViewBag.Title</h2>
        <div class="jumbotron">
            <h2 class="heading_underline">Enter details for the item</h2>
            @using (var form = Html.BeginForm("AddItem", "Shop"))
            {
                <table class="table_fullwidth">
                    <tr>
                        <td>Title:</td>
                        <td>@Html.TextBoxFor(x => x.Title, new { @class = "form-control" })</td>
                    </tr>
                    <tr>
                        <td>Category:</td>
                        <td>@Html.TextBoxFor(x => x.Category, new { @class = "form-control" })</td>
                    </tr>
                    @*<p>Image: @Html.TextBoxFor(x => x.Image)</p>
                        <br />*@
                    <tr>
                        <td>Description:</td>
                        <td>@Html.TextBoxFor(x => x.Description, new { @class = "form-control" })</td>
                    </tr>
                    <tr>
                        <td>Price:</td>
                        <td>@Html.TextBoxFor(x => x.Price, new { @class = "form-control" })</td>
                    </tr>
                    <tr>
                        <td>Number Available:</td>
                        <td>@Html.TextBoxFor(x => x.NumberAvailable, new { @class = "form-control" })</td>
                    </tr>
                </table>
                <input type="submit" value="Add Item" name="submitItem" class="btn btn-default" />
            }
        </div>
    </div>
</div>
