@model List<Shop.Models.Item>

<div class="container">
    <div class="col-md-12 table_spacing">
        <h2>@ViewBag.Title</h2>
        <table class="table table-striped responsive">
            <tr>
                <th>Title</th>
                <th>Category</th> <!-- TO DO : turn item into dropdown list -->
                @*<th>Image</th>*@
                <th>Description</th>
                <th>Price</th>
                <th>Number Available</th>
                <th></th>
                <th></th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Title</td>
                    <td>@item.Category</td>
                    @*<td>@item.Image</td>*@
                    <td>@item.Description</td>
                    <td>@item.Price</td>
                    <td>@item.NumberAvailable</td>
                    <td><a href="@Url.Action("EditItem", new { Id = item.ID })" class="btn btn-info btn-sm">Edit Item</a></td>
                    <td><a href="@Url.Action("DeleteItem", new { Id = item.ID })" class="btn btn-warning btn-sm">Delete Item</a></td>
                </tr>
            }
        </table>
        @Html.ActionLink("+ Add Item", "CreateItem", "Shop", new { @class = "btn btn-lg btn-success" })
    </div>
</div>
