@model List<Shop.Models.Item>

<div class="container">
    <div class="col-md-12">
        <h2>@ViewBag.Title</h2>
        <table class="table table-striped">
            <tr>
                <th>Title</th>
                <th>Category</th> <!-- TO DO : turn item into dropdown list -->
                @*<th>Image</th>*@
                <th>Description</th>
                <th>Price</th>
                <th>Number Available</th>
                <th></th>
                <th></th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Title</td>
                    <td>@item.Category</td>
                    @*<td>@item.Image</td>*@
                    <td>@item.Description</td>
                    <td>@item.Price</td>
                    <td>@item.NumberAvailable</td>
                    <td>@Html.ActionLink("Edit Item", "EditItem", new { Id = item.ID })</td>
                    <td>@Html.ActionLink("Delete Item", "DeleteItem", new { Id = item.ID })</td>
                </tr>
            }
        </table>
    </div>
</div>
